process {

    errorStrategy = 'terminate'

    withName: busco {
        container = 'metashot/busco:4.1.4-2'   
        cpus = check_max(8, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    } 
}